body {
  background-image: url("background-faces.jpg");
  background-size: 100%;
  margin: 0;
}

p {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bolder;
  color: red;
}

.wrapper {
  width: 100%;
  margin: 0;
}

.col-1 {
  width: 33%;
  margin: 0;
  display: inline-block;
}

#face {
  position: relative;
}
